<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include ('./partials/head') %>
<body>
	<!-- Header -->
	<%- include ('./partials/header') %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Nombre del producto</h2> 
			<p class="product-detail-description">
				<a href="http://localhost:3000/maquillaje/agregarProducto">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/default-image.png" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Descripción corta: Producto cosmético que se aplica sobre los labios para darles un brillo luminoso y un aspecto jugoso.</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src= <%= data[0].comentarios[0].imagenperfil %> alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="http://localhost:3000/maquillaje/perfil"> <%= data[0].comentarios[0].nombreUsuario %> </a> </strong>
								<%= data[0].comentarios[0].textoComentario %></p>
							</div>
						</article>
						<article>
							<img src=<%= data[0].comentarios[1].imagenperfil %> alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="http://localhost:3000/maquillaje/perfil"> <%= data[0].comentarios[1].nombreUsuario %> </a> </strong>
								<%= data[0].comentarios[1].textoComentario %></p>
							</div>
						</article>
						<article>
							<img src=<%= data[0].comentarios[2].imagenperfil %> alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="http://localhost:3000/maquillaje/perfil"> <%= data[0].comentarios[2].nombreUsuario %> </a> </strong>
								<%= data[0].comentarios[2].textoComentario %></p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include ('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>