<!DOCTYPE html>
<html lang="es">
<%- include ('./partials/head') %>
<body>
    <% if (cookies.userLogueado || locals.userSession) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

    <div class="container products-wrapper">
        <div class="d-flex align-items-center">
            <h2 class="products-title"><%= producto.nombreProducto %></h2>
            
            <% let loggedInUserId; %>
            <%  if (cookies1.userLogueado) { %>
            <%      loggedInUserId = cookies.userLogueado.id; %>
            <%    } else if (locals.userSession) { %>
            <%        loggedInUserId = locals.userSession.id; %>
            <%    } else { %>
            <%        loggedInUserId = null; %>
            <%   } %>

            <%    if (producto.id_usuario === loggedInUserId) { %>

                <p class="product-detail-description">
                    <a href="http://localhost:3000/product/editarProducto/<%= producto.id %>">Editar</a>
                </p>

                <form action="/product/eliminarProducto/<%= producto.id %>" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            <% } %>
        </div>
        <div class="product-detail">
            <div class="row">
                <article class="col-12 col-lg-8 product-detail-info">
                    <img src="/images/<%= producto.rutaImagen %>" alt="" class="product-detail-img">
                    <p class="product-detail-description">
                        <%= producto.descripcionProducto %>
                    </p>
                </article>
                <div class="col-12 col-lg-4">
                    <section class="comments">
                        <% producto.comentarios.reverse().forEach(comentario => { %>
                            <article>
                                <img src="/images/<%= comentario.usuario.foto_perfil %>">
                                <div class="data">
                                    <p class="user">
                                        <strong> <a href="http://localhost:3000/user/<%= comentario.usuario.id %>"><%= comentario.usuario.usuario %> </a> </strong>
                                        <%= comentario.comentario %>
                                    </p>
                                </div>
                            </article>
                        <% }); %>
                    </section>

                    <% if (locals.errors) { %>
                        <% errors.forEach(error => { %>
                            <p class="mensajes-error">
                                <%= error.msg %>
                            </p>
                        <% }) %>
                    <% } %>

                    <% if (userSession || cookies.userLogueado) { %>
                        <form class="form" action="/comment/<%= producto.id %>" method="POST">
                            <input class="form-input" type="text" value="<%= locals.old && old.comentario ? old.comentario : '' %>" placeholder="Agregar comentario" name="comentario">
                            <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                        </form>
                    <% } else { %>
                        <h3>Debes <a href="/user/iniciarSesion" style="color: blue">iniciar sesión</a> para agregar un comentario.</h3>
                    <% } %>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <%- include ('./partials/footer') %>
</body>
</html>
