<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include ('./partials/head') %>

<body>
    <!-- Header -->
    <%- include ('./partials/header') %>
    <!-- /Header -->

    <!-- Resultados de búsqueda -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Resultados de búsqueda</h2>
            </div>
            <% if (mensaje) { %>
                <div class="col-12">
                    <p><%= mensaje %></p>
                </div>
            <% } else { %>
                <% productos.forEach(producto => { %>
                    <div class="col-12 col-md-4">
                        <div class="product-card">
                            <a href="/product/detalleProducto?id=<%= producto.id %>">
                                <img src="<%= producto.rutaImagen %>" alt="<%= producto.nombreProducto %>">
                                <h3><%= producto.nombreProducto %></h3>
                            </a>
                            <p><%= producto.descripcionProducto %></p>
                            <p>Publicado por: <a href="/user?id=<%= producto.usuario.id %>"><%= producto.usuario.usuario %></a></p>
                        </div>
                    </div>
                <% }); %>
            <% } %>
        </div>
    </div>

    <!-- Footer -->
    <%- include ('./partials/footer') %>
    <!-- /Footer -->
</body>
</html>
